APP_ENV=development
APP_DEBUG=true
APP_TIMEZONE=Europe/Madrid
LOG_PATH=storage/logs.log


DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=agenda_telefonica
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4